<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-to">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="img-circle" src="../assets/photocv2018_3bb.jpg">
      <a class="navbar-brand" style="font-size:1em" routerLink="./">BINATE Aliyou</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <!--a routerLink="#aPropos">A propos</a-->
        </li>
        <li>
          <a routerLink="projects">Liste des projets</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isAuth">
          <!--a class="register" routerLink="signup">S'inscrire</a-->
          <button mat-raised-button color="primary">
            <a routerLink="signup" style="color:#ffffff">S'inscrire</a>
          </button>
        </li>
        <li *ngIf="!isAuth">
          <!--a class="login" routerLink="signin">Se Connecter</a-->
        <button mat-raised-button color="warn">
          <a routerLink="signin" style="color:#ffffff">Se Connecter</a>
        </button>
        </li>
        <li *ngIf="isAuth">
          <a class="login" (click)="onSignOut()" style="cursor:pointer" routerLink="signout">Déconnexion</a>
        </li>
        <li *ngIf="isAuth">
          <a class="NewProject" routerLink="editform">Nouveau Projet</a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
