<div class="card container" style="margin-bottom:19px">
  <div class="row">
    <h3 style="text-align: center">Liste des annonces</h3>
    <ul class="list-group list-group-flush col-md-8 col-md-offset-2">
      <li *ngFor="let key of projectKeys; let i=index" class="list-group-item">{{projects[key][3]}}
          <!-- <div>
                <span class="label label-warning">{{p.category}}</span>
                <span class="label label-success"> {{p.country}} </span>
                <span class="label label-primary">{{p.date}}</span>
              <span class="label label-danger"><a style="color:#fff" routerLink="/">Répondre</a></span>
          </div> -->
          <div>
                <span class="label label-warning">{{projects[key][2]}}</span>
                <span class="label label-success"> {{projects[key][1]}} </span>
                <span class="label label-primary">{{projects[key][0]}}</span>
              <span class="label label-danger"><a style="color:#fff" routerLink="#">Répondre</a></span>
          </div>
      </li>
    </ul>

<!--div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="true">
    Catégories
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li>
      <a href="#">Action</a>
    </li>
    <li>
      <a href="#">Another action</a>
    </li>
    <li>
      <a href="#">Something else here</a>
    </li>
    <li role="separator" class="divider"></li>
    <li>
      <a href="#">Separated link</a>
    </li>
  </ul>
</div-->

  </div>
</div>
