
ul.list-group li.list-group-item span.label{
  margin-right: 0.017em;
  display:inline-block;
}
ul.list-group li.list-group-item div{
 font-size: 1em; margin-left: 30%; color:#333338;text-align:justify
}
.mat-raised-button {
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  font-size: 0.79em;
  margin-right: 1px
}

textarea.mat-input-element {
  font-family: "Roboto", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.7rem;
  font-weight: normal;
  line-height: 1.5;
  color: #535556;
  padding:0;
  overflow: hidden;
}

mat-form-field{
  width: 100%;
}

/***
Le bloc au pied des annonces : date, pays, categorie
***/
.mat-card-actions .mat-raised-button {
  border-radius: 0px;
  margin: 0;
}

.mat-card-actions,
.mat-card-content,
.mat-card-subtitle {
  margin-bottom: 0px;
}

mat-card{
  padding-bottom: 0px
}
